---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
  description: 'Not found',
  title: '404'
}
---

<PageLayout {meta}>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <h1 class='block text-7xl font-bold sm:text-9xl'>404</h1>
    <p class='text-lg mt-3 text-muted-foreground'>Something went wrong.</p>
    <p class='text-lg text-muted-foreground mt-20'>⚪ 只有当锄头松开了坚硬的地面，所有的生长才会成为可能。</p>
    <Button title='Back to home' href='/' variant='ahead' class='mt-5' />
  </div>
</PageLayout>
